Repository zhaohuiwang/adk-samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gulliantonio, @drush1980, @nikhilkul, @sammalik-lgtm, @anifort, @5Y5TEM, @mstyer-google, @eliasecchig, @lavinigam-gcp, @kishorerj, @csferng, @yiwen-song, @cnemri, @jackwotherspoon, @askmeegs, @gkcng, @kweinmeister

script to kill occupied ports
  python/agents/killport.py
  python/agents/killport.sh
Owners: none

update RAG
  python/agents/RAG/pyproject.toml
  python/agents/RAG/rag/agent.py
Owners: @cnemri

explain Makefile script
  python/agents/gemini-fullstack/Makefile
Owners: @eliasecchig, @lavinigam-gcp

update agents
  python/agents/RAG/rag_agent_aiwithbrandon/.env.example
  python/agents/RAG/rag_agent_aiwithbrandon/__init__.py
  python/agents/RAG/rag_agent_aiwithbrandon/agent.py
  python/agents/RAG/rag_agent_aiwithbrandon/config.py
  python/agents/RAG/rag_agent_aiwithbrandon/tools/__init__.py
  python/agents/RAG/rag_agent_aiwithbrandon/tools/add_data.py
  python/agents/RAG/rag_agent_aiwithbrandon/tools/create_corpus.py
  python/agents/RAG/rag_agent_aiwithbrandon/tools/delete_corpus.py
  python/agents/RAG/rag_agent_aiwithbrandon/tools/delete_document.py
  python/agents/RAG/rag_agent_aiwithbrandon/tools/get_corpus_info.py
  python/agents/RAG/rag_agent_aiwithbrandon/tools/list_corpora.py
  python/agents/RAG/rag_agent_aiwithbrandon/tools/rag_query.py
  python/agents/RAG/rag_agent_aiwithbrandon/tools/utils.py
Owners: @cnemri

upload custom rag agents
  python/agents/RAG/custom_rag_agents/__init__.py
  python/agents/RAG/custom_rag_agents/agent.py
  python/agents/RAG/custom_rag_agents/config.py
  python/agents/RAG/custom_rag_agents/tools/__init__.py
  python/agents/RAG/custom_rag_agents/tools/tools.py
  python/agents/RAG/custom_rag_agents/tools/utils.py
Owners: @cnemri

supplent with detail comments
  python/agents/RAG/custom_rag_agents/config.py
  python/agents/RAG/custom_rag_agents/tools/tools.py
  python/agents/RAG/pyproject.toml
  python/agents/data-science/data_science/utils/reference_guide_RAG.py
  python/agents/gemini-fullstack/pyproject.toml
  python/agents/gemini-fullstack/uv.lock
Owners: @cnemri, @5Y5TEM, @eliasecchig, @lavinigam-gcp

remove two scripts for deleting ports
  python/agents/killport.py
  python/agents/killport.sh
Owners: none

put personalized file into a Dir
  IMPORTANT/gcp_doc.md
  IMPORTANT/google_adk_doc.mk
  IMPORTANT/killport.py
  IMPORTANT/killport.sh
Owners: none

rename a Markdown file
  IMPORTANT/google_adk_doc.md
Owners: none

test zwrun branch
  README.md
Owners: none

revert test
  README.md
Owners: none

.github/CODEOWNERS:

# Agent Academic Research
/python/agents/academic-research/ @gulliantonio

# Auto Insurance Agent
/python/agents/auto-insurance-agent/ @drush1980

# Brand Search Optimization
/python/agents/brand-search-optimization/ @nikhilkul

# CaMeL
/python/agents/camel/ @sammalik-lgtm

# Customer Service
/python/agents/customer-service/ @anifort

# Data Science
/python/agents/data-science/ @5Y5TEM

# Financial Advisor
/python/agents/financial-advisor/ @gulliantonio

# FOMC Research
/python/agents/fomc-research/ @mstyer-google

# Gemini Fullstack
/python/agents/gemini-fullstack/ @eliasecchig @lavinigam-gcp

# Image Scoring
/python/agents/image-scoring/ @kishorerj

# LLM Auditor
/python/agents/llm-auditor/ @csferng

# Marketing Agency
/python/agents/marketing-agency/ @gulliantonio

# Personalized Shopping
/python/agents/personalized-shopping/ @yiwen-song

# RAG
/python/agents/RAG/ @cnemri

# Software Bug Assistant
/python/agents/software-bug-assistant/ @jackwotherspoon
/java/agents/software-bug-assistant/ @askmeegs

# Travel Concierge
/python/agents/travel-concierge/ @gkcng

# Time Series Forecasting
/java/agents/time-series-forecasting/ @kweinmeister
